<div class="container">
	<h1> Pokemon Catalog</h1>

	<p *ngIf="error">{{ error }}</p>

	<main class="pokemons">
		<app-pokemon (clicked)="onPokemonClicked($event)" 
		*ngFor="let pokemon of pokemons$ | async" 
		[pokemon]="pokemon">
		</app-pokemon>
	</main>
</div>