.container {
  background-color: #764248;
  font-family: sans-serif;
  text-align: center;
}

.pokemons {

  text-align: center;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  background-color: #764248;
  padding: 1em;
}