<div class="container">
    <h1>Pokemon Trainer</h1>
    <p>In this section you can view all the pokemon you have collected. To learn more about the pokemons,
         click on them.</p>
    <p>If you wish to collect more pokemon, go to the pokmeon catalog,
         select and pokmeon and use the "catch" button.</p>
    <h2>Collected Pokemon:</h2>
    <main class="pokemon">
    <app-pokemon-grid 
		*ngFor="let pokemon of pokemons$ | async" 
		[pokemon]="pokemon">
		</app-pokemon-grid>
    </main>
</div>