<div class="container">
    <ng-container *ngIf="(pokemonDetails$ | async) as pokemonDetails">
        <h2 class="name">{{pokemonDetails.name}} </h2>
        <img class="movie__cover" [src]="pokemonDetails.imgUrl" [alt]="">

        <p>Types:</p>
        <app-type *ngFor="let type of pokemonDetails.types" [type]="type"></app-type>

	

        <div class="subContainer">
            <div class="baseStats">
                <h3>Base Stats:</h3>
                <p>Hp: {{pokemonDetails.stats[0].base_stat}}</p>
                <p>Att: {{pokemonDetails.stats[1].base_stat}}</p>
                <p>Def: {{pokemonDetails.stats[2].base_stat}}</p>
                <p>S-Att: {{pokemonDetails.stats[3].base_stat}}</p>
                <p>S-Def: {{pokemonDetails.stats[4].base_stat}}</p>
                <p>Spe: {{pokemonDetails.stats[5].base_stat}}</p>
            </div>

            <div class="profile">
                <h3>Profile</h3>
                <p>Height: {{pokemonDetails.height}} </p>
                <p>Weight: {{pokemonDetails.weight}}</p>
                <p>Base Experience: {{pokemonDetails.base_experience}}</p>
                
                <p>Abilities:</p>
                <app-ability *ngFor="let ability of pokemonDetails.abilities" [ability]="ability"></app-ability>
            </div>

            <div class="moves">
                <h3>Moves</h3>
                <app-move *ngFor="let move of pokemonDetails.moves | slice:0:5" [move]="move"></app-move>
            </div>
        </div>
        <button class="btn" (click)="onCatchClicked(pokemonDetails.name, pokemonDetails.imgUrl)">Catch Me!</button>


    </ng-container>
</div>