.container {
    font-family: sans-serif;
    width: auto;
    background-color: #764248;
    margin: auto;
    padding: 10px;
}
.name {
    text-transform: uppercase;
}

.subContainer {
    display:flex;
    text-align:center;
    background-color: #F87575;
    width: auto;
    box-shadow: 3px 5px;
    
    
}

.baseStats {
    padding: 2em;


}

.profile {
    padding: 2em;

}
.moves {
    padding: 2em;

}
.btn {
    align-items: center;
}