<nav>
    <ul>
        <ng-container *ngIf="hasActiveSession">
            <li><a routerLink="/pokemon">Pokemon</a></li>
            <li><a routerLink="/trainer">Trainer</a></li>
        </ng-container>
    </ul>
</nav>